# Dependencies
node_modules/

# Next.js
.next/
out/

# Build
build/

# Env
.env.local
.env*.local

# Debug
npm-debug.log*

# Misc
.DS_Store
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/
*.iml
.antigravitycli

# Supabase
supabase/.temp/
.vercel
